html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  height: 80px;
  padding: 20px 0;
  margin-bottom: 80px;
  -webkit-box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.05);
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.01em;
}
.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  margin-right: 50px;
}
.header__logo img {
  display: block;
}
.header__search {
  max-width: 835px;
}
.header__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 70px;
}

.search {
  width: 100%;
}
.search__input {
  width: 100%;
  padding: 12px 39px;
  border: 1px solid #EBEBF1;
  border-radius: 5px;
  background: url("../img/search-icon.svg") no-repeat 8px 10px;
}
.search__input::-webkit-input-placeholder {
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #BBC4D6;
}
.search__input:-ms-input-placeholder {
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #BBC4D6;
}
.search__input::-ms-input-placeholder {
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #BBC4D6;
}
.search__input::placeholder {
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: #BBC4D6;
}

.user {
  position: relative;
}
.user__name {
  margin-right: 10px;
  line-height: 17px;
  color: #768298;
}
.user::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -19px;
  display: block;
  width: 1px;
  height: 80px;
  background-color: #EBEBF1;
}

.partners {
  margin-bottom: 73px;
}
.partners__title {
  font-weight: 500;
  font-size: 36px;
  line-height: 58px;
  text-transform: uppercase;
  color: #121920;
}
.partners__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.partners__item {
  width: calc((100% - 90px) / 4);
  border: 1px solid #EBEBF1;
  border-radius: 5px;
}
.partners__item:hover {
  -webkit-box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
          box-shadow: -3px 0px 40px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(164, 164, 164, 0.03);
}
.partners__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 120px;
  width: 100%;
  padding: 28px 26.5px 28px 27px;
}
.partners__img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@media (max-width: 1279px) {
  .partners__list {
    gap: 20px;
  }
  .partners__item {
    width: calc((100% - 60px) / 3);
  }
  .partners__link {
    padding: 15px;
  }
}
@media (max-width: 767px) {
  .header__user p, .header__search {
    display: none;
  }

  .partners__item {
    width: 100%;
  }
  .partners__link {
    height: 140px;
    padding: 25px;
  }
}
